class <%= model.camelcase %> < ActiveRecord::Base
 delegate <%= model.singularize.downcase %>_path

 private

  def data
    <%- if options.stylesheet -%>
      puts "nihao"
    <%- end -%>
    <%= model.downcase.pluralize %>.map do |<%= model.singularize.underscore %>|
      [].tap do |column|
        column << nil
      end
    end
  end
end
